body{
  display: none;
  font-family: 'Noto Sans Japanese', sans-serif;
}

span{
  white-space: nowrap;
}

footer{
  text-align: center;
}

h2 {
  color: #3E1485;
}
h3 {
  color: #3E1485;
}

ul.mainMenu{
  display: table;
  table-layout: fixed;
  height: 40px;
  margin: 0 auto;
  padding: 0;
}

ul.mainMenu li{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12pt;
  width:100px
}

ul.mainMenu a:link { color: #FFFFFF; }
ul.mainMenu a:visited{ color: #FFFFFF; }
ul.mainMenu a:hover{ color: #E9F1F7; }
ul.mainMenu a:active{ color: #E9F1F7; }

ul.program-ul li{
  font-size:12px;
}

li a:link { color: #EF798A; }
li a:visited{ color: #EF798A; }
li a:hover{ color: #F7A9A8; }
li a:active{ color: #F7A9A8; }

 .panel a:link { color: #EF798A; }
 a list-group-item:visited{ color: #EF798A; }
 a list-group-item:hover{ color: #F7A9A8; }
 a list-group-item:active{ color: #F7A9A8; }

.panel{
  border-style: none;
  box-shadow: 0 0 0 0;
}

.panel-heading{
  background-color: #3E1485!important;
  border-color: #3E1485!important;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.panel-heading:hover{
  background-color: #EF798A!important;
  border-color: #EF798A!important;
}

.panel-body{
  font-size: 12px;
  border-style: none;
}

.left-box{
  width:70%;
  float: left;
  padding: 0 5px 0 5px;
}

.right-box{
  width: 30%;
  float:right;
  padding: 0 5px 0 5px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .left-box{
    width:100%;
    float: none;
  }

  .right-box{
    width:100%;
    float: none;
  }
}

.profile-img{
  width: 100%;
  max-width: 150px;
}
