footer{
  text-align: center;
}

ul.mainMenu{
  display: table;
  table-layout: fixed;
  height: 50px;
  margin: 0 auto;
  padding: 0;
}

ul.mainMenu li{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12pt;
  width:100px
}

ul.mainMenu a:link { color: #FFFFFF; }
ul.mainMenu a:visited{ color: #FFFFFF; }
ul.mainMenu a:hover{ color: #FFFFFF; }
ul.mainMenu a:active{ color: #FFFFFF; }

.panel{
  border-color: #3E1485!important;
  width: 80%;
  margin-top:20px;
}

.panel-heading{
  background-color: #3E1485!important;
  border-color: #3E1485!important;
}
